@use "../../styles/base";

.card-content {
    position: sticky;
    @include base.flex-center($direction: column);
    background: rgb(162,162,158);
    background: linear-gradient(180deg, rgb(199, 199, 198) 37%, rgba(147,152,161,1) 100%);
    min-width: 10rem;
    max-width: 25rem;
    height: 10rem;
    border-radius: 10px;
    box-shadow:
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    transition: .4s ease;

    perspective: 10px;

    img {
        width: auto;
        height: 6rem;
        image-rendering: pixelated;

        filter: drop-shadow(0 0 5px rgb(0, 0, 0));
        transition: .6s ease;
    }

    .pokemon-id {
        position: relative;
        height: 1rem;
        top: -1rem;
        right: -4.5rem;

        font-weight: 600;
        font-size: 2.5rem;

        color: transparent;
        -webkit-text-stroke: 2px #000;
        transition: .6s ease;
    }

    .card-description {
        @include base.flex-center;
        position: relative;
        bottom: -1rem;
        gap: 4rem;


        .pokemon-name {
            position: relative;
            top: -10px;
            font-size: large;
            text-transform: capitalize;
            transition: .6s ease;
        }

        .pokemon-type {
            position: relative;
            top: -10px;
            text-transform: uppercase;

            filter: drop-shadow(0 0 13px #000000);
            transition: .6s ease;
        }
    }
}

@media (min-width: 1300px) {
    .card-content:hover {
        position: sticky;
        transform: scale(1.5);
        transition: .8s ease;
        cursor: pointer;

        z-index: 4;

        img {
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.26));
            transform: translateZ(5px);
            transition: .4s ease;
        }

        .card-description {

            .pokemon-name {
                transform: scale(1.15);
                transition: .6s ease;
            }

            .pokemon-type {
                transform: scale(.8);
                transition: .6s ease;
            }
        }
    }
}
