@use "../../styles/base";


    .card-content {
        @include base.flex-center($direction: column);
        background: #f2f2f2;
        min-width: 12.8rem;
        max-width: 25rem;
        height: 10rem;
        border-radius: 10px;

        img {
            width: auto;
            height: 60%;

            filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.527));
        }

        .pokemon-id {
            position: relative;
            height: 1rem;
            top: -1rem;
            right: -4.5rem;

            font-weight: 600;
            font-size: 2.5rem;

            color: transparent;
            -webkit-text-stroke: 2px #000;
        }

        .card-description {
            @include base.flex-center;
            position: relative;
            bottom: -1rem;
            gap: 4rem;


            .pokemon-name {
                position: relative;
                top: -10px;
                font-size: large;
                text-transform: capitalize;
            }

            .pokemon-type {
                position: relative;
                top: -10px;
                text-transform: uppercase;
                
                filter: drop-shadow(0 0 13px #000000);
            }
        }
    }