@use "../../styles/base";


    .card-content {
        @include base.flex-center($direction: column);
        background: rgba(0, 4, 255, 0.507);
        min-width: 12.8rem;
        max-width: 25rem;
        height: 10rem;

        img {
            height: 5rem;
        }

        .card-number {
            position: relative;
            height: 1rem;
            background-color: aliceblue;
            top: -1rem;
            right: -4.5rem;
            font-size: 2rem;
        }

        .card-description {
            @include base.flex-center;
            position: relative;
            bottom: -1rem;
            gap: 4rem;
        }
    }