.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .grid-container {
        width: 100%;
        height: 100%;


        .pokemons-grid {
            background-color: #fff;
            list-style: none;
            max-width: 1268px;

            padding: 10rem 32px;

            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }

    }

    .load-more-div {
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;
        bottom: 5rem;

        margin-top: 2rem;
        padding: 6px;

        width: 12rem;

        background-color: #f34553;

        text-align: center;

        border-radius: 20px 10px;

        cursor: pointer;

        transition: .6s ease;

        box-shadow:
            2px 4px 10px rgba(0, 0, 0, 0.26),
            100px 100px 80px rgba(0, 0, 0, 0.07);

        a {
            width: 100%;
            font-family: "Bebas Neue", sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            color: #fff;

            transition: .6s ease;
        }

        img {
            width: 35px;
            position: absolute;
            left: 41.5%;
            top: 30px;
            background-color: #fff;
            border-radius: 50%;

            transition: .6s ease;
        }
    }

    .load-more-div:hover {
        background-color: #ff0217;
        transition: .6s ease;

        a {
            letter-spacing: .05rem;
            transition: .6s ease;
        }

        img {
            transform: rotateZ(2turn);
        }
    }

    .loader {
        position: relative;
        top: 50vh;
        left: 50vw;
    }
}


@media (min-width: 375px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                margin: 0 35px;
            }
        }
    }
}



@media (min-width: 425px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                margin: 0 45px;
            }
        }
    }
}


@media (min-width: 586px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(2, 1fr);
                padding: 10rem 10px;
            }
        }
    }
}


@media (min-width: 768px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(3, 1fr);
                margin: 0 auto;
            }
        }
    }
}


@media (min-width: 1024px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(4, 1fr);
                padding: 10rem 10px;
                margin: 0 auto;
            }
        }
    }
}


@media (min-width: 1300px) {
    .card-content:hover {
        position: sticky;
        transform: scale(1.5);
        transition: .8s ease;
        cursor: pointer;

        z-index: 4;

        img {
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.26));
            transform: translateZ(5px);
            transition: .4s ease;
        }

        .pokemon-id {
            filter: blur(.6px);
            transition: .6s ease;
        }

        .card-description {

            .pokemon-name {
                transform: scale(1.15);
                transition: .6s ease;
            }

            .pokemon-type {
                transform: scale(.8);
                transition: .6s ease;
            }
        }
    }
}


@media (min-width: 2560px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(5, 1fr);
                padding: 10rem 0;
                margin: 0 auto;
            }
        }
    }
}