.main-content {
    height: 100%;
    width: 100%;

    .grid-container {
        width: 100%;
        height: 100%;


        .pokemons-grid {
            background-color: #fff;
            list-style: none;
            max-width: 1268px;

            padding: 10rem 32px;

            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }
    }

    .loader {
        position: relative;
        top: 50vh;
        left: 50vw;
    }
}


@media (min-width: 375px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                margin: 0 35px;
            }
        }
    }
}



@media (min-width: 425px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                margin: 0 45px;
            }
        }
    }
}


@media (min-width: 586px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(2, 1fr);
                padding: 10rem 10px;
            }
        }
    }
}


@media (min-width: 768px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(3, 1fr);
                margin: 0 auto;
            }
        }
    }
}


@media (min-width: 1024px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(4, 1fr);
                padding: 10rem 10px;
                margin: 0 auto;
            }
        }
    }
}


@media (min-width: 1300px) {
    .card-content:hover {
        position: sticky;
        transform: scale(1.5);
        transition: .8s ease;
        cursor: pointer;
    
        z-index: 4;
    
        img {
            filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.26));
            transform: translateZ(5px);
            transition: .4s ease;
        }
    
        .pokemon-id {
            filter: blur(.6px);
            transition: .6s ease;
        }
    
        .card-description {
    
            .pokemon-name {
                transform: scale(1.15);
                transition: .6s ease;
            }
    
            .pokemon-type {
                transform: scale(.8);
                transition: .6s ease;
            }
        }
    }
}


@media (min-width: 2560px) {
    .main-content {
        .grid-container {
            .pokemons-grid {
                grid-template-columns: repeat(5, 1fr);
                padding: 10rem 0;
                margin: 0 auto;
            }
        }
    }
}