@-webkit-keyframes loadingAnimation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(2turn);
  }
}
@keyframes loadingAnimation {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(2turn);
  }
}
@-webkit-keyframes pageLoader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-16px);
  }
}
@keyframes pageLoader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-16px);
  }
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.main-content .grid-container {
  width: 100%;
  height: 100%;
}
.main-content .grid-container .pokemons-grid {
  background-color: #fff;
  list-style: none;
  max-width: 1268px;
  padding: 10rem 32px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.main-content .load-more-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 5rem;
  margin-top: 2rem;
  padding: 6px;
  width: 12rem;
  background-color: #f34553;
  text-align: center;
  border-radius: 20px 10px;
  cursor: pointer;
  transition: 0.6s ease;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.26), 100px 100px 80px rgba(0, 0, 0, 0.07);
}
.main-content .load-more-div a {
  width: 100%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  transition: 0.6s ease;
}
.main-content .load-more-div img {
  width: 35px;
  position: absolute;
  left: 41.5%;
  top: 30px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.6s ease;
}
.main-content .load-more-div:hover a {
  letter-spacing: 0.05rem;
  transition: 0.6s ease;
}
.main-content .load-more-div:hover img {
  transform: rotateZ(2turn);
}
.main-content .load-more-div.loading img {
  -webkit-animation: 1s ease-in-out 1s infinite loadingAnimation;
          animation: 1s ease-in-out 1s infinite loadingAnimation;
}
.main-content .loader {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50vh;
  left: 0;
  width: 20rem;
}
.main-content .loader .pokemon-svg img {
  -webkit-animation: pageLoader 0.5s ease alternate infinite;
          animation: pageLoader 0.5s ease alternate infinite;
}
.main-content .loader .pokemon-svg .squirtle {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.main-content .loader .pokemon-svg .charmander {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

@media (min-width: 375px) {
  .main-content .grid-container .pokemons-grid {
    margin: 0 35px;
  }
}
@media (min-width: 425px) {
  .main-content .grid-container .pokemons-grid {
    margin: 0 45px;
  }
}
@media (min-width: 586px) {
  .main-content .grid-container .pokemons-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10rem 10px;
  }
}
@media (min-width: 768px) {
  .main-content .grid-container .pokemons-grid {
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  .main-content .grid-container .pokemons-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 10rem 10px;
    margin: 0 auto;
  }
}
@media (min-width: 2560px) {
  .main-content .grid-container .pokemons-grid {
    grid-template-columns: repeat(5, 1fr);
    padding: 10rem 0;
    margin: 0 auto;
  }
}/*# sourceMappingURL=index.css.map */